<%= content_for :title, @list.name %>
<div class='parent_div'><h2 class='main_header'><%= @list.name %> </h2>
<div class='list_desc'>--<i><%= @list.description %></i></div>
</div>
<h4 class='sub_header'>Unfinished Tasks</h3>
<div class="tasks" id="incomplete_tasks">
  <div class='empty_message'><div class='center hero-unit' id='tasks_empty'>My little grasshopper..You have no tasks left to do !</div></div>
  <% @list.tasks.incomplete.each do |task| %>
      <%= render task, list: @list %>
      <!--Here, we are sending @list,task variables to the rendered partial,
      because it needs those values,this is a way of passing local variables--we don't need to send 'task' variable
      because we used render task , so it checks model(class) name of task variable and goes accordingly to tasks/_task partial and the partial is passed the task instance variable as 'task' itself...
      so we can directly use it ...no need to pass it-->
  <% end %>
</div>
<h4 class='sub_header'>Finished Tasks</h3>
<div class="tasks" id="completed_tasks">
  <% @list.tasks.completed.each do |task| %>
      <%= render task, list: @list %>
  <% end %>
</div>
      <%= render 'tasks/task_form' %>
      <p><%= link_to "All lists", controller: :pages, action: :home %></p>