<!DOCTYPE html>
<html>
<head>
  <title>TODO <%= yield :title%></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>
<div class="container">
  <%= render 'layouts/show_flash_messages' %>
  <div class="row">
    <div class="span3">Sidebar</div>
    <div class="span9">
<%= yield %>
    </div>
    </div>
   </div>
</body>
</html>
